.container{
    display: flex;
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
    padding: 10px;   
}
.main{
    display:flex;
}
@media screen and (max-width: 640px){
    .sidebar{
        display: flex;
        flex-direction:row;
    }
    .container{
        flex-direction: column-reverse;

    }
}