@mixin section-display {
    display: flex;
    width: 100%;;
    padding: 3rem;
    align-items: center;
}

*{
    margin: 0;
    padding: 0%;
}
.nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #ddd;
}
.logo{
    width: 2.5%;
    cursor: pointer;
}
.home-video{
    margin: 15px;
    width: 25%;
}
.sec-home{
    @include section-display();
    .home-cta{
        flex: 1;
        color: $color-main;
    }   
    .home-title{
        font-size: 3rem;
        width: 30%;
        color: black;
        text-decoration: none;
    }
    .home-description{
        color: black;
        text-decoration: none;
    }
}
.sec-features{
    @include section-display();
    .intro{
        h3{
            font-size: 1.8rem;
        }
        p{
            font-size: 0.8rem;
            color: #888;
        }    
    }
    .features{
        display: flex;
        .text{
            max-width: 40%;
            .feature{
                display: flex;
                flex-direction: row;
                .description{
                    .title{
                        
                    }
                    .text{

                    }
                }
            }

        }
        .image{

        }
    }            
}

